__pycache__
logs
*.egg
weights
*egg-info
.vscode
src
taming
*.npz
*.npy
*.zip
*.ckpt
data/afhq
data/mammals
data/mscoco2017
*.pth
generated_samples/
archieves/
resnet_embeddings/
jepa_weights
data/lsun/
neared_mae.png
nearest_jepa.png
results*